.header {
    height: 70px;
    background-color: rgba(0, 0, 0, .2);
    color: #A6ADBA;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 5%;
    margin-bottom: 100px;
}


.header-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu-item__link {
    color: #A6ADBA;
    text-decoration: none;
}
